[submodule "spreadsheet_processor"]
	path = spreadsheet_processor
	url = https://github.com/pedrohso7/spreadsheet_processor.git
[submodule "backend_maisenvios"]
	path = backend_maisenvios
	url = https://github.com/pedrohso7/backend_maisenvios.git
